.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar_header {
  display: flex;
  flex-direction: column;
}

.user_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
