.container {
  flex-grow: 1;
}

.title {
  color: var(--accent-color);
  margin-left: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.chat_list {
  list-style: none;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: var(--secondary-text-color);
}
