.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid var(--secondary-color);
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 15px;

  background-color: var(--main-color);
  border-bottom: 1px solid var(--secondary-color);
}

.user_icon {
  width: 40px;
  height: 40px;
}

.main {
  background-color: #faf8f9;
  flex-grow: 1;
  border-bottom: 1px solid var(--secondary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 100%;
  overflow: auto;

  list-style: none;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: var(--secondary-text-color);
}

.footer {
  padding: 20px;
  background-color: var(--main-color);
  position: relative;
}

.input {
  width: 100%;
  border-radius: 15px;
  height: 40px;
  border: 1px solid var(--secondary-color);
  outline: none;
  padding: 5px 15px;
}

.send_icon {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;

  background-image: url("../../img/paper_plane.svg");
  background-size: cover;
  cursor: pointer;

  border: none;
  background-color: transparent;
  padding: 0;
}

.send_icon:hover {
  background-image: url("../../img/paper_plane_line.svg");
}
