.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  position: relative;

  border-bottom: 1px solid var(--secondary-color);
}

.container:hover {
  background-color: var(--main-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3px;

  min-width: 100px;
  flex: 1;
}

.user_icon {
  width: 40px;
  height: 40px;
}

.name {
}

.container:hover .name::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("../../img/pencil_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
  position: absolute;
  top: 18px;
  opacity: 70%;
}

.message {
  color: var(--secondary-text-color);
  font-size: 0.9rem;

  max-width: 400px;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  margin-left: auto;
  color: var(--secondary-text-color);
  font-size: 0.9rem;
}

.delete {
  display: none;
}

.container:hover .delete {
  display: block;
  position: absolute;
  width: 25px;
  right: 1%;
  bottom: 10%;
  border: none;
  background: none;
  opacity: 60%;
}
